main {
    background-color: rgb(0, 9, 45);
}

.page[style^="border-color"]:before {
    border-width: 1px;
    border-color: midnightblue;
}

.grid > .row > [class*="thirteen wide"].column, .grid > .column.row > [class*="thirteen wide"].column, .grid > [class*="thirteen wide"].column, .column.grid > [class*="thirteen wide"].column {
    width: 72.25% !important;
}

.grid > .row > [class*="three wide"].column, .grid > .column.row > [class*="three wide"].column, .grid > [class*="three wide"].column, .column.grid > [class*="three wide"].column {
    width: 25.75% !important;
}

.contacts li a {
    border-radius: 3px;
    padding: 2px;
    transition: 1s;
}

.contacts li a:hover {
    background-color:  rgba(0, 16, 81);
    color: #ffffff;
} 

.contacts li a:hover span,
.contacts li a:hover svg  {
    color: #ffffff;
}

.avatar-wrapper { 
    margin-top:15px; 

}

.avatar {
    max-width: 12rem;
    border-radius: 5%;
}


.backthen {
    margin-top: 20px;
    margin-left: 30px;
    border-left: 1px solid #000000;
}


.backthen li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px auto;
}

.backthen li span {
    display: block;
    background-color: #000000;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: #ffffff;
    line-height: 39px;
    text-align: center;
    position: absolute;
    left: -1.5em;
}

.backthen li p {
    margin-left: 50px;
    background-color: rgba(0, 16, 81, 0.87);
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
} 

div .divider .fat {
    border-top: 0.1em solid rgba(10, 10, 10, 1);
    width: 60%;
}